/*CSS for whole body*/
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*CSS for link, h1 and h2*/
body a,
h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

/*Header Section CSS*/
.top-banner {
    height: 627px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.top-text {
    color: white;
    text-align: center;
}

.top-text p {
    margin-bottom: 30px;
}

.colorful-button {
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/*Donate Section CSS*/
.donate-section {
    margin-top: 100px;
    text-align: center;
}

.fade-colored-paragraph p {
    color: #707070;
}

.donate-text-section {
    text-align: center;
}

.center-aligned-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-amount-section {
    color: #707070;
}

.donate-amount-section div {
    margin: 1%;
    border: 5px solid #FAFAFA;
    border-radius: 5px;
    background-color: #FAFAFA;
    padding: 20px 20px;
    font-weight: 900;
}

#selected-amount {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 1px solid #FF5959;
}

#custom-donate-amount {
    margin-top: 50px;
}

#custom-donate-amount input {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 600px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid #B7B7B7;
    margin-bottom: 40px;
}